<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ReportMapper" >
  <resultMap id="BaseResultMap" type="com.report.bean.Report" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="grp_code" property="grpCode" jdbcType="VARCHAR" />
    <result column="runway" property="runway" jdbcType="INTEGER" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="editor_id" property="editorId" jdbcType="VARCHAR" />
    <result column="editor_name" property="editorName" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, grp_code, runway, edit_time, editor_id, editor_name, comment
  </sql>
  <select id="selectByParam" resultMap="BaseResultMap" parameterType="map">
  	SELECT <include refid="Base_Column_List"></include>
  	FROM report_list
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from report_list
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from report_list
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.report.bean.Report" >
    insert into report_list (id, code, name, 
      grp_code, runway, edit_time, 
      editor_id, editor_name, comment
      )
    values (#{id,jdbcType=CHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{grpCode,jdbcType=VARCHAR}, #{runway,jdbcType=INTEGER}, #{editTime,jdbcType=TIMESTAMP}, 
      #{editorId,jdbcType=VARCHAR}, #{editorName,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.report.bean.Report" >
    insert into report_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="grpCode != null" >
        grp_code,
      </if>
      <if test="runway != null" >
        runway,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="editorId != null" >
        editor_id,
      </if>
      <if test="editorName != null" >
        editor_name,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="grpCode != null" >
        #{grpCode,jdbcType=VARCHAR},
      </if>
      <if test="runway != null" >
        #{runway,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editorId != null" >
        #{editorId,jdbcType=VARCHAR},
      </if>
      <if test="editorName != null" >
        #{editorName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.report.bean.Report" >
    update report_list
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="grpCode != null" >
        grp_code = #{grpCode,jdbcType=VARCHAR},
      </if>
      <if test="runway != null" >
        runway = #{runway,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editorId != null" >
        editor_id = #{editorId,jdbcType=VARCHAR},
      </if>
      <if test="editorName != null" >
        editor_name = #{editorName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.report.bean.Report" >
    update report_list
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      grp_code = #{grpCode,jdbcType=VARCHAR},
      runway = #{runway,jdbcType=INTEGER},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      editor_id = #{editorId,jdbcType=VARCHAR},
      editor_name = #{editorName,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>